@import url("reset.css");
html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000;
  margin: 0;
  padding: 0;
}

.mark {
  background-color: #FFF0E9;
  margin-top: 10px;
  margin-left: 20px;
}

.too-main {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: #FFF0E9;
  height: 80px;
  box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.too-main .nav {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 90px;
}
.too-main .nav .nav-link {
  margin-top: 37px;
  color: #000;
  font-weight: 600;
  text-align: center;
  margin-left: 40px;
  transition-duration: 0.3s;
  position: relative;
}
.too-main .nav .nav-link:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 4px;
  background: #236666;
  transition-duration: 0.3s;
  left: 0;
}
.too-main .nav .nav-link:hover {
  color: #5817e4;
}
.too-main .nav .nav-link:hover::after {
  width: 100px;
  height: 4px;
}
.too-main .nav .icon .fa-solid {
  margin-top: 37px;
  font-size: 30px;
  padding-right: 10px;
  margin-left: 80px;
  margin-right: -60px;
  color: #000;
}

.swiper-warp {
  max-width: 1920px;
  height: 420px;
  position: relative;
  margin-top: 105px;
  margin-bottom: 75px;
}

.bainer {
  position: absolute;
  width: 1320px;
  height: 420px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.bainer .pictures {
  position: absolute;
  left: 0;
  transition-duration: 0.3s;
}
.bainer .pictures img {
  width: 1340px;
  height: 420px;
  margin-right: 120px;
  display: block;
}

.banner {
  background: url("pic/bgc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 570px;
  position: relative;
  margin-top: 80px;
  text-align: center;
}
.banner .information {
  position: absolute;
  height: 465px;
  width: 1310px;
  background-color: #FFF0E9;
  border-radius: var(--6px-corner, 6px);
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  padding-top: 10px;
  box-sizing: border-box;
  padding-left: 2px;
  margin-left: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 60px;
}
.banner .information h2 {
  text-align: center;
}

.information h2 {
  padding: 20px 0;
  color: var(--dark-blue, #2D405B);
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.information .wrap {
  position: relative;
  left: 50;
  width: 1185px;
  height: 600px;
  overflow: hidden;
}
.information .items {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 55;
  margin-top: 8px;
  margin-left: -30px;
}
.information .items .product {
  margin-right: 22px;
}
.information .box1 {
  box-sizing: border-box;
  width: 215px;
  background-color: white;
  box-shadow: 0px 8px 7px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.information .box1:hover {
  box-shadow: 5px 10px 60px rgba(0, 0, 0, 0.1);
  transform: translate(-5px, -5px);
  transition: 0.5s;
}
.information .box1 .top {
  height: 150px;
  position: relative;
  overflow: hidden;
}
.information .box1 .top img {
  background-size: cover;
  box-sizing: border-box;
  transform: scale(1, 1);
  transition: all 0.5s ease-out;
  overflow: hidden;
}
.information .box1 .top img:hover {
  transform: scale(1.1, 1.1);
}
.information .box1 .top .tag {
  width: 41px;
  height: 171px;
  background-color: #cbe5cd;
  margin-right: 50px;
  transform: rotate(-45deg);
  position: relative;
  top: -50px;
  left: 152px;
}
.information .box1 .name {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 5px 10px;
  letter-spacing: 1px;
  color: #fff;
  background: linear-gradient(transparent 0%, black 100%);
  width: 100%;
  box-sizing: border-box;
}
.information .box1 .botton {
  height: 140px;
  padding: 10px 20px;
}
.information .box1 .botton .product {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.information .box1 .botton .dis {
  font-size: 14px;
  color: #989898;
}
.information .swiper-button-prev {
  left: -55px;
}
.information .swiper-slide {
  opacity: 0.25;
}
.information .swiper-container {
  overflow: visible;
}
.information .swiper-slide-visible {
  opacity: 1;
}
.information .more {
  display: block;
  position: absolute;
  text-decoration: none;
  width: 150px;
  height: 50px;
  position: absolute;
  background-color: #5C6F89;
  top: 90%;
  right: 50%;
  transform: translate(50%, -50%);
  border-radius: 6px;
  text-align: center;
  color: #F5F5F5;
  padding-top: 16px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 18px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
}
.information .more:hover {
  background-color: #717e90;
}
.information .left {
  position: absolute;
  top: 49%;
  left: 0.5%;
  opacity: 1;
  cursor: pointer;
}
.information .left2 {
  position: absolute;
  top: 49%;
  left: 0.5%;
  opacity: 0;
  cursor: pointer;
}
.information .right {
  position: absolute;
  top: 49%;
  right: 0.5%;
  opacity: 1;
  cursor: pointer;
}
.information .right2 {
  position: absolute;
  top: 49%;
  right: 0.5%;
  opacity: 0;
  cursor: pointer;
}

.swiper-button-prev,
.swiper-button-next {
  opacity: 0;
  color: rgba(0, 0, 0, 0) !important;
}

.about_us {
  position: relative;
  height: 355px;
  overflow: hidden;
}
.about_us .about {
  color: #F5F5F5;
  font-family: Jost;
  font-size: 140px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: -600px;
}
.about_us .p2 {
  text-align: center;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 125% */
  letter-spacing: 6.4px;
  opacity: 0;
  margin-top: -85px;
}
.about_us .p3 {
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 187.5% */
  letter-spacing: 1.92px;
  opacity: 0;
  margin-top: 20px;
}
.about_us #bread {
  position: absolute;
  left: 90px;
  bottom: 0px;
}
.about_us #stage0 {
  position: absolute;
  right: 90px;
  bottom: -78px;
}

.warp {
  background-color: #fff6f2;
  padding: 50px 0px;
}

.under {
  display: flex;
  max-width: 1920px;
  flex-direction: row;
  justify-content: center;
}
.under .hover1 {
  position: relative;
}
.under .hover1 p {
  position: absolute;
  width: 400px;
  height: 0px;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: 2.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(210, 210, 210, 0.6);
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  opacity: 0;
  transition-duration: 0.3s;
}
.under .hover1:hover p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 317px;
  opacity: 1;
}
.under .hover2 {
  position: relative;
}
.under .hover2 p {
  position: absolute;
  width: 400px;
  height: 0px;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: 2.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(210, 210, 210, 0.6);
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  opacity: 0;
  transition-duration: 0.3s;
}
.under .hover2:hover p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 317px;
  opacity: 1;
}
.under .hover3 {
  position: relative;
}
.under .hover3 p {
  position: absolute;
  width: 400px;
  height: 0px;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: 2.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(242, 242, 242, 0.6);
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  opacity: 0;
  transition-duration: 0.3s;
}
.under .hover3:hover p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 317px;
  opacity: 1;
}

.aside {
  z-index: 10;
  position: fixed;
  right: 1rem;
  bottom: 15rem;
}

.aside-link {
  color: rgba(0, 0, 0, 0.2);
  transition-duration: 0.3s;
}

.aside-link:hover {
  color: rgba(0, 0, 0, 0.5);
}

.aside-link-top {
  font-size: 3rem;
}

footer {
  position: relative;
  margin-top: 100px;
  background-color: #FFF0E9;
  box-sizing: border-box;
  overflow: hidden;
  height: 220px;
}
footer .footer {
  max-width: 1450px;
  display: flex;
  justify-content: space-evenly;
  flex-basis: auto;
  box-sizing: border-box;
  padding: 20px 0px;
  box-sizing: border-box;
}
footer .footer .lilogo .logo {
  margin-top: 75px;
  margin-right: 50px;
}
footer .footer .lilogo span {
  width: 2px;
  height: 171px;
  position: absolute;
  background-color: #000;
}
footer .footer .contact_us {
  margin-top: 29px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
footer .footer .CONTACT {
  width: 320px;
  margin-top: 40px;
}
footer .footer .CONTACT i {
  margin-right: 0px;
  margin-bottom: 10px;
}
footer .footer .Serve {
  margin-top: 40px;
  margin-left: 0px;
}
footer .footer .icom {
  margin-top: 76px;
}
footer .footer .icom .icon-1 {
  display: flex;
  margin: 50px 23px 0px 0px;
  font-size: 40px;
}
footer .footer .icom .icon-1 .fa-brands {
  margin-right: 10px;
}
footer .footer .icom .icon-1 .fa-facebook:hover, footer .footer .icom .icon-1 .fa-instagram:hover, footer .footer .icom .icon-1 .fa-line:hover {
  color: #ffcb0d;
}
footer .footer h3 {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}
footer .footer .cat {
  width: 150px;
  position: absolute;
  transition: 0.3s;
}
footer .footer #cat_grey {
  bottom: -50px;
  right: 22px;
}/*# sourceMappingURL=abc.css.map */